.App {
  
  height: 100vh;

  display: flex;
  flex-flow: column;
  margin:1rem;
  padding-left:0.5rem;
}
.register-container .MuiOutlinedInput-input {
  padding-top:12.5px !important;
  padding-bottom:12.5px  !important
}
.MuiSelect-outlined.MuiSelect-outlined {
  min-width:150px;
  padding-top:20px !important;
}
.forgotpwdTxt a{
  color:#000;
  font-size:12px;
}
.locImg{
  height:30px;
  width:30px;
  object-fit: contain;

}
.MuiPaper-root{
  background-color:transparent !important;

}
.register-container .backBtn{
  color: rgba(0, 0, 0, 0.87) !important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0 !important;
  background-image: none !important;
}
.selectCitizenship{
  margin-bottom:0.5rem;
}

body{

  background: url(./assets/final-bg1.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;


}
header{
  height: 50px;
  /*background-image: url(./assets/final-header.png);*/
  /*background-color:#92B8E9 !important;
  background-color:#60ACD0;
  background-size: contain;
  background-repeat: repeat-x;
  border-bottom: rgba(2, 82, 150,0);*/
  display: flex;
  justify-content: space-between;
}
                
    .otppage input[type="text"]{
      width: 2rem !important;
      height:2rem !important;
      
    }
           
              
.headerLink a{
  color:#000;
  text-decoration-line: none;
  border-bottom:2px solid #000;
  
}

.register-container .mainBtn{
  background-image: linear-gradient(0deg,#04599c,#4590cb);
  border-radius:5px !important;
  color:#FFF;
  text-transform: capitalize !important;
  margin-top:1rem;
  min-width: 100px;
  margin-bottom: 1rem;

}

.legendLabel{

  font-size:20px;
  font-weight: 600;
  color:#000;
  }

  .idImgContainer{
    display:flex;
    flex-direction: row;
  }
  .selfyImg{
    object-fit: contain;
  }
  #App .MuiStepper-root{
    padding-bottom:0px !important;
  }
  .locationDetails{
    width:300px;
    height:100px;
  }
  .idImgContainer p{
    width: 150px;
    text-align: center;
     margin-top: 0px;
     color:chocolate;
  }
  .camerConatiner{
    border:1px solid #04599c;
    border-radius: 10px;
    height:100px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
.finalThankMsg{
  font-size:24px;
  font-weight: 600;
  color:#04599c;
}
.labelkey{ 
  color:#04599c;
  font-size:14px;
}
.labelValue{
  color:#000;
  font-size:16px;
}
.detailsContainer{
  width: 100%;
  padding: 16px;
  margin-top: 8px;
  min-height: 100px;
  background-color: hsl(203deg 87% 97%);
  border-radius:10px;
  margin-bottom:24px;
  box-shadow: #adaebb 6px 7px 15px 0px;

}
.quoteSubText{
  font-size: 14px  !important;
  font-weight: 400;
  color: rgb(134, 134, 134);
}

.headerText-container{ 
  display:flex;	
  flex-direction: column;
  width: 100%;
  padding: 8px 0px;
}

 .MuiStepper-root {
  display: flex;
  padding-left: 0px !important;
  padding-bottom:0px !important;
}

.makeStyles-completed-8{

  background-image: linear-gradient(0deg,#04599c,#4590cb) !important;
}

.headerText{					
	  color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
	}

 main {
 /* background-color: #DDDDDD;*/
  
 /* height: calc(100vh - 100px);*/
 /* background-image: url(./assets/homepage-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: hsla(0,0%,100%,.9);
  padding-left: 10px;
  padding-right: 10px;
  border-radius:5px;
  

  }

  .tnc-container{
    padding-top:1rem;
    width:100%;
    display:flex;
    flex-wrap: wrap;
  }

  .tn-chkbox-div{
    color: rgb(134, 134, 134); 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 23px;
  }

  .tnc-text{
    color: #007bff;
  }
  .rightBtn{
    float:right;
    padding-right:1rem;

  }
  .otpExpire-text{
    color: #007bff;
  }
 .register-pt{

  padding-top:2rem;
 }
 
  .register-container{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 30%);
    max-width: 876px;
    background-color: hsla(0,0%,100%,.9);
    min-height:300px;
    /*background-image: url(./assets/transparent_bg.png);
    background-size: cover;
    background-repeat: no-repeat;*/
    
    
   /* background-color:rgb(242, 242, 242);*/
    
    color: rgb(99 84 84);
    /*padding: 16px 32px  16px 0;*/ 
    height: auto;
  }
  .customerName{
    font-weight:600;
    color:#000;
  }
  .img-fluid{
    zoom:0.5;
    width:300px;
    height:120px;
    object-fit: contains;
    border: 1px solid #085ca521;
  }
footer {
  height: 50px;
  
  overflow: hidden;
  
}


.emptyDiv{
  width: 300px;
}

.stepContainer{
  float:right;
  width: calc(100vw - 200px);
}
.stepImg{
  object-fit: cover;
}
.Flex{
 
  display: flex; 
  }
  
  .footerContainer{
    padding: 8px; 
    width: 100%; 
    background: rgb(2, 82, 150); 
    border: 1px solid rgb(208, 208, 208);
    padding-top:1rem;
    margin-top:1rem;
  }
  
  .footerSubContainer{
    flex-wrap: wrap;
    padding: 8px; 
    min-height: 32px;
    max-width: 1252px;
    margin: 0px auto;
    width: 100%;
  }
  .footerSub2{
   flex-wrap: wrap; width: 100%;
  }
  
  .footerCopyright-container{
    width: 50%;
  }
  .footerCopyright-text{
     color: rgb(208, 208, 208);; font-weight: 400; font-size: 14px;
    
  }
  .termConditions-container{
    display: flex; align-items: center; justify-content: flex-end; width: 50%;
  }
  .termsContions-text1{
   color: rgb(208, 208, 208);; font-weight: 400; font-size: 14px;
  }
  .termsContions-separater{
     margin: 0px 16px; color: rgb(208, 208, 208); font-weight: 400; font-size: 14px;
  }
  .termsContions-text2{
   color: rgb(208, 208, 208); font-weight: 400; font-size: 14px;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
